@page
@model RazorPages.Pages.ContactModel
@{
}


@{
    ViewData["Title"] = "Contact";
}

<div class="container">
    <br />
    <br />
    <h1 class="mt-4 mb-3">
        Contact!
    </h1>
    @if (!string.IsNullOrEmpty(Model.Message))
    {
        <div class="alert alert-success">@Model.Message</div>
    }
    <div class="row">
        <div class="col-md-8 mb-4">
            <form asp-page="Contact" method="post" name="sentMessage" id="contactForm">
                <div class="control-group form-group">
                    <div class="controls">
                        <label asp-for="Contact.Name">Name:</label>
                        <input asp-for="Contact.Name" class="form-control" />
                        <span asp-validation-for="Contact.Name" class="alert-danger"></span>
                    </div>
                </div>
                <div class="control-group form-group">
                    <div class="controls">
                        <label asp-for="Contact.Phone">Phone Number:</label>
                        <input asp-for="Contact.Phone" class="form-control" />
                        <span asp-validation-for="Contact.Phone" class="alert-danger"></span>
                    </div>
                </div>
                <div class="control-group form-group">
                    <div class="controls">
                        <label asp-for="Contact.Email">Email:</label>
                        <input asp-for="Contact.Email" class="form-control" />
                        <span asp-validation-for="Contact.Email" class="alert-danger"></span>
                    </div>
                </div>

                <div class="control-group form-group">
                    <div class="controls">
                        <label asp-for="Contact.Message">Message:</label>
                        <input asp-for="Contact.Message" class="form-control" />
                        <span asp-validation-for="Contact.Message" class="alert-danger"></span>
                    </div>
                </div>

                <div id="success"></div>
                <button type="submit" class="btn btn-success" id="sendMessageButton">Send</button>
            </form>

            <br />
            <div class="card bg-success">
                <div class="card-body text-white">
                    <p>Dữ liệu trong Model:</p>
                    <ul>
                        <li>Name: @Model.Contact?.Name</li>
                        <li>Phone: @Model.Contact?.Phone</li>
                        <li>Email: @Model.Contact?.Email</li>
                        <li>Message: @Model.Contact?.Message</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <partial name="Advertisement" model="@("Quảng cáo tại contact")" />

            <br />
        </div>
    </div>
</div>


@section FooterSecond{
    <h5 class="text-uppercase">Footer text for contact page</h5>

    <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iste atque ea quis
        molestias. Fugiat pariatur maxime quis culpa corporis vitae repudiandae
        aliquam voluptatem veniam, est atque cumque eum delectus sint!
    </p>
} 